footer.footer
    div.footer__logo
        img(src='/img/logo-green.png' alt='Natours logo')
    ul.footer__nav
        li: a.link(href='/about') About us
        li: a.link(href='#') Download apps
        li: a.link(href='#') Become a guide
        li: a.link(href='/careers') Careers
        li: a.link(href='/contacts') Contacts
    p.footer__copyright &copy; by Veselin Tonev. All rights reserved.