main.main
    h1.heading-primary.heading-primary--orange No Tours Booked Yet
    .message
        h2.heading-secondary.heading-primary--green Check out our tours and book your next adventure
        a.btn.btn--green(href='/') Explore tours