main.main
    h1.heading-primary.heading-primary--orange No Reviews Posted Yet
    .message
        h2.heading-secondary.heading-primary--green Head over to the tours and leave a review
        a.btn.btn--green(href='/') Go to tours