extends base

block content
    main.main.main--careers
        section.section__careers--join
            .section__careers-bg
            .section__careers-cta
                p.heading-box__detail 21 roles in 2 locations
                h3.heading-secondary.heading-secondary--mid Join the tour revolution
                button.btn.btn--green.btn--green-small.btn--width-limit Explore roles
            .section__careers-appeal-container
                h1.section__careers-appeal We do things 
                    span.floated
                        span#careers-letter b
                        span ifferently.
        section.section__careers--jobs
        section.section__careers--office-gallery
        section.section__careers--benefits